<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход в систему</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="../static/js/login.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
</head>

<body>
    <canvas id="canvas"></canvas>
    <div class="login-box">
        <h2>Welcome Back</h2>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="input-box">
                {{ form.address(Size=32) }}
                {{ form.address.label }}
                <ion-icon name="person-outline"></ion-icon>
            </div>
            <div class="input-box">
                {{ form.username(Size=32) }}
                {{ form.username.label }}
                <ion-icon name="person-outline"></ion-icon>
            </div>
            <div class="input-box">
                {{ form.password(Size=32) }}
                {{ form.password.label }}
                <ion-icon name="lock-closed-outline"></ion-icon>
            </div>
            <button>Войти</button>
        </form>
    </div>
</body>

</html>